 /* In it css of navigation bar for all,  */

 /* for navigation bar */
 #navbar {
  /* margin-top: 10px; */
  list-style: none;
  text-decoration: none;
  /* border: 2px solid green; */
  margin: 0;
  padding: 0;
  background-color: black;
  list-style-type: none;

}

#navbar ul {
  /* border: 2px solid blue; */
  margin: 0px;
  /* display:flex; */
  list-style: none;
  margin-left: 10px;

}

#navbar ul li {
  /* border:2px solid rgb(225, 65, 132); */
  border-radius: 20px;
  /* background-color:rgb(226, 149, 48); */
  padding: 10px;
  padding-left: 40px;
  padding-right: 40px;
  margin: 10px;
  margin-left: 20px;
  margin-right: 20px;

  display: inline-block;
}

#navbar ul li a {
  color: rgb(191, 152, 152);
  display: block;
  text-decoration: none;

}

#navbar ul li a:hover {
  background-color: #1b1414;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #181515;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
}

.dropdown-content a {
  color: #333;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown:hover .dropdown-content {
  display: block;
}







